@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sukhumvit';
  src: url(/font/SukhumvitSet-Text.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Sukhumvit';
  font-weight: 400;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  /* line-height: 24px; */
}

/* Hide X Mark when typing */

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
